.cdp-fetcher-wrapper {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-items: flex-start;

    .cdp-fetcher-group {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        #rough-cdp-id,
        #collateral-type {
            border: none;
            color: white;
            appearance: none;
            font-size: 1.25rem;
            padding: 1rem 2rem;
            background: #1c1e1f;
            border-radius: 0.25rem;
        }

        #collateral-type {
            width: 10rem;
        }

        #rough-cdp-id {
            width: 15rem;
        }
    }
}
