.cdp-card-container {
    gap: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .cdp-controls {
        gap: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.single-cdp-card {
    display: flex;
    font-size: 2rem;
    overflow: hidden;
    place-self: center;
    background: #202728;
    border-radius: 0.25rem;
    flex-direction: column;

    .cdp-header {
        gap: 1rem;
        display: flex;
        padding: 1.5rem;
        align-items: center;
        background: #40736d;
        justify-content: flex-start;
    }

    .cdp-rows {
        gap: 4rem;
        display: flex;
        padding: 1.5rem;
        padding-right: 10rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        & .faded-text {
            font-size: 1rem;
        }

        .cdp-row {
            gap: 10rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .cdp-detail {
                gap: 1rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .detail-info {
                    min-width: 12rem;
                    min-height: 3rem;
                }
            }
        }
    }
}
