*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: #333;
}

// Utility classes
.error {
  color: #CC0000;
}

.faded-text {
    color: #aaa;
}
